@model EventSourcingDemo.Models.Person

@using (Html.BeginForm())
{
    <h2>Create Person</h2>
    @Html.ValidationSummary()    
    <div>@Html.TextBoxFor(m => m.FirstName)</div>
    <div>@Html.TextBoxFor(m => m.LastName)</div>
    <div>@Html.CheckBox("pending") Requires Approval?</div>
    <div><input type="submit" value="Submit"/>
    </div>
}
